Repository artamokhin/Sosisochnaya: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

build-backend-code-job:
  stage: build
  variables:
    download_link: https://gitlab.praktikum-services.ru/api/v4/projects/1818/jobs/artifacts/main/download?job=$NAME_BUILD_JOB&private_token=$ProjectToken
    message: Артамохин Александр собрал $TYPE_JOB
    TYPE_JOB: backend
    NAME_BUILD_JOB: build-backend-code-job
  after_script:
  ...

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  script:
  - cd backend
  - "mvn verify sonar:sonar -Dsonar.qualitygate.wait=true -Dsonar.projectKey=$SonarQubeProjectBackend -Dsonar.host.url=$SonarQubeUrl -Dsonar.login=$SonarQubeLogin \n"
  needs:
  - build-backend-code-job

build-frontend-code-job:
  stage: build
  variables:
    download_link: https://gitlab.praktikum-services.ru/api/v4/projects/1818/jobs/artifacts/main/download?job=$NAME_BUILD_JOB&private_token=$ProjectToken
    message: Артамохин Александр собрал $TYPE_JOB
    TYPE_JOB: frontend
    NAME_BUILD_JOB: build-frontend-code-job
  ...

sonarqube-frontend-sast:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  variables:
    SONAR_TOKEN: $SonarQubeToken
    SONAR_HOST_URL: $SonarQubeUrl
    GIT_DEPTH: 0
  script:
  - cd frontend
  ...

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

try2 ci/cd docker
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

add frontend docker
  backend/backend_deploy.sh
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/deploy.sh
  frontend/frontend_deploy.sh
  frontend/ффв.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

add frontend docker
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

add test to ci/cd
  backend/.gitlab-ci.yml
  backend/Dockerfile
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix SAST in front and back
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix2 SAST in front and back
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix3 SAST in front and back
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

fix3 SAST in front and back
  backend/123.txt
  frontend/123.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix4 SAST in front and back
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

fix4 SAST in front and back
  backend/123.txt
  backend/456456.txt
  frontend/123.txt
  frontend/234.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix5 SAST in front and back
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix5 SAST in front and back
  frontend/frontend_deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

fix5 SAST in front and back
  backend/234.txt
  backend/456456.txt
  frontend/234.txt
  frontend/567.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix deploy
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

fix deploy
  frontend/frontend_deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

check 80 port
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

check 80 port
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

fix gitlab ci
  backend/.gitlab-ci.yml
  backend/234.txt
  frontend/567.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

add check to backend conteiner
  .gitignore
  backend/.gitlab-ci stable.yml
  backend/.gitlab-ci.yml
  backend/deploy stable.sh
  frontend/.gitlab-ci stable.yml
  frontend/deploy stable.sh
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

add check to backend conteiner
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

fix check to backend container
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

try kaniko tool to build backend
  backend/.gitlab-ci — копия.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

try kaniko tool to build backend
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

try kaniko tool to build backend
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

try kaniko tool to build backend
  backend/.gitlab-ci.yml
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

to merge request
  backend/.gitlab-ci — копия.yml
  backend/.gitlab-ci.yml
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

to merge request
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

try multi_stage
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

try multi-stage
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/*
  sonarqube-backend-sast: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  sonarqube-frontend-sast: any of: frontend/*
  upload-backend-release: any of: backend/*
  upload-frontend-release: any of: frontend/*
