Repository artamokhin/Sosisochnaya: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

.gitlab-ci.yml:

stages:
  - build
  - test
  - release

cache:
  paths:
    - .npm/
    - .m2/repository
  # keep cache across branch
  key: "$CI_COMMIT_REF_SLUG"

variables:
   TYPE_JOB: 'Type of job'
   NAME_BUILD_JOB: 'Name of build-job'
   pachka_bot: "https://api.pachca.com/webhooks/***REMOVED***"
   VERSION: 1.0.${CI_PIPELINE_ID}
   MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository
   

include:
  - template: Security/SAST.gitlab-ci.yml

.notify-job:
  stage: build
  variables:
    download_link: "https://gitlab.praktikum-services.ru/api/v4/projects/1818/jobs/artifacts/main/download?job=$NAME_BUILD_JOB&private_token=$ProjectToken"

    message: "Артамохин Александр собрал $TYPE_JOB"
  after_script:
   - 'curl -X POST -H "Content-type: application/json" 
      -d " { \"message\": \"$message [Скачать тут]($download_link)\" } " $pachka_bot'

build-backend-code-job:
  extends: .notify-job
  stage: build 
  variables:
     TYPE_JOB: "backend" 
     NAME_BUILD_JOB: "build-backend-code-job" 
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -Dversion.application=${VERSION} 
  artifacts:
    paths:
      - backend/target/sausage-store-${VERSION}-SNAPSHOT.jar
      - ${CI_PROJECT_DIR}/.m2/ # сохранение зависимостей для SAST 

spotbugs-sast:
  stage: test 
  variables:
    COMPILE: "false"
    SAST_JAVA_VERSION: 11
    MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository # не забудьте при сборке также указывать эту папку через аргумент -Dmaven.repo.local   

sonarqube-backend-sast:
  stage: test
  only:
    changes:
    - backend/*
  image: maven:3.8-openjdk-16 # тот самый docker-образ, о котором мы все узнаем в будущем
  script:
    - cd backend
    - >
      mvn verify sonar:sonar -Dsonar.qualitygate.wait=true
      -Dsonar.projectKey=$SonarQubeProjectBackend
      -Dsonar.host.url=$SonarQubeUrl
      -Dsonar.login=$SonarQubeLogin 
  needs:
    - build-backend-code-job

build-frontend-code-job:
  extends: .notify-job
  variables:
     TYPE_JOB: "frontend" 
     NAME_BUILD_JOB: "build-frontend-code-job"
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend  
   
sonarqube-frontend-sast:
  stage: test
  only:
    changes:
    - frontend/*
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_TOKEN: $SonarQubeToken
    SONAR_HOST_URL: $SonarQubeUrl
    GIT_DEPTH: 0  
  script:
    - cd frontend
    - sonar-scanner 
      -Dsonar.projectKey=$SonaQubeProjectFrontend 
      -Dsonar.sources=. 
      -Dsonar.host.url=$SonarQubeUrl 
      -Dsonar.login=$SonarQubeLogin 
  needs:
    - build-frontend-code-job
    
upload-backend-release:
  stage: release
  only:
    changes:
      - backend/*
  needs:
    - build-backend-code-job
  script:
    - cd backend
    - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy 
    
upload-frontend-release:
  stage: release
  only:
    changes:
    - frontend/*
  needs:
    - build-frontend-code-job
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}" --upload-file sausage-store-${VERSION}.tar.gz ${NEXUS_REPO_URL}/sausage-store-front/sausage-store/${VERSION}/sausage-store-${VERSION}.tar.gz

test frontend to deploy
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

test frontend to deploy
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

test frontend to deploy
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

test frontend to deploy
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

test frontend and backend to deploy
  backend/234.txt
  frontend/234.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

test frontend and backend to deploy
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

test environment
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

test environment 2
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

change backend to deploy postgresql
  backend/567.txt
  frontend/ффв.txt
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

add sleep 5 second to realese stage of frontend
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

first init flyway
  backend/567.txt
  backend/pom.xml
  backend/src/main/resources/db/migrations/R__product_change_lenght.sql
  backend/src/main/resources/db/migrations/V001__order_product.sql
  backend/src/main/resources/db/migrations/V002__orders.sql
  backend/src/main/resources/db/migrations/V003__product.sql
  backend/src/main/resources/db/migrations/V004__add_indexes.sql
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

fix flyway config
  backend/src/main/resources/db/migration/R__product_change_lenght.sql
  backend/src/main/resources/db/migration/V001__order_product.sql
  backend/src/main/resources/db/migration/V002__orders.sql
  backend/src/main/resources/db/migration/V003__product.sql
  backend/src/main/resources/db/migration/V004__add_indexes.sql
Due: none

fix flyway config
  backend/345
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

fix backend service config
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

add mongoDB
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

fix mongoDB
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

change mongo report delay from 60 sec to 300 sec
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: none

try to hide password for PG
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

try 2 to hide password for PG
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

hide login and password for DB's
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

hide login and password for DB's
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

init docker
  backend/.env
  backend/345
  backend/Dockerfile
  frontend/.env
  frontend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

try ci/cd docker
  .gitlab-ci_stable.yml
  backend/.gitlab-ci stable.yml
  backend/.gitlab-ci.yml
  backend/DockerInDockerTemplate.yml
  backend/backend_deploy.sh
  backend/deploy stable.sh
  frontend/.gitlab-ci stable.yml
  frontend/deploy stable.sh
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release
