Repository artamokhin/Sosisochnaya: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

build-backend-code-job:
  stage: build
  variables:
    download_link: https://gitlab.praktikum-services.ru/api/v4/projects/1818/jobs/artifacts/main/download?job=$NAME_BUILD_JOB&private_token=$ProjectToken
    message: Артамохин Александр собрал $TYPE_JOB
    TYPE_JOB: backend
    NAME_BUILD_JOB: build-backend-code-job
  after_script:
  ...

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  script:
  - cd backend
  - "mvn verify sonar:sonar -Dsonar.qualitygate.wait=true -Dsonar.projectKey=$SonarQubeProjectBackend -Dsonar.host.url=$SonarQubeUrl -Dsonar.login=$SonarQubeLogin \n"
  needs:
  - build-backend-code-job

build-frontend-code-job:
  stage: build
  variables:
    download_link: https://gitlab.praktikum-services.ru/api/v4/projects/1818/jobs/artifacts/main/download?job=$NAME_BUILD_JOB&private_token=$ProjectToken
    message: Артамохин Александр собрал $TYPE_JOB
    TYPE_JOB: frontend
    NAME_BUILD_JOB: build-frontend-code-job
  ...

sonarqube-frontend-sast:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  variables:
    SONAR_TOKEN: $SonarQubeToken
    SONAR_HOST_URL: $SonarQubeUrl
    GIT_DEPTH: 0
  script:
  - cd frontend
  ...

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

add vault connection to backend for k8s
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

add vault connection to backend for k8s
  backend/src/main/resources/application.properties
Due: none

add vault connection to backend for k8s
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release

change frontend from nginx-proxy to nginx
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

change frontend from nginx-proxy to nginx
  backend/.gitlab-ci.yml
  frontend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

change frontend from nginx-proxy to nginx
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, upload-frontend-release

Prometheus metrics added
  Jenkinsfile
  backend/.env
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
  frontend/.env
Due: build-backend-code-job, sonarqube-backend-sast, build-frontend-code-job, sonarqube-frontend-sast, upload-backend-release, upload-frontend-release

Path conditions:
  build-backend-code-job: any of: backend/*
  sonarqube-backend-sast: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  sonarqube-frontend-sast: any of: frontend/*
  upload-backend-release: any of: backend/*
  upload-frontend-release: any of: frontend/*
