Repository artamokhin/Sosisochnaya: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
  artifacts:
    paths:
    - backend/target/sausage-store-0.0.1-SNAPSHOT.jar
    - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

change frontend to test sonar
  frontend/1.txt
Due: build-frontend-code-job

change frontend to test sonar
  frontend/1.txt
  frontend/2.txt
Due: build-frontend-code-job

change backend to test sonar
  backend/5.txt
  backend/abc.txt
  frontend/2.txt
Due: build-backend-code-job, build-frontend-code-job

change frontend to test sonar
  backend/abc.txt
  frontend/asd.txt
Due: build-backend-code-job, build-frontend-code-job

change backend to test sonar
  backend/123.txt
Due: build-backend-code-job

change backend to test sonar
  backend/123.txt
  backend/4.txt
Due: build-backend-code-job

change backend to test sonar
  backend/4.txt
  backend/5.txt
Due: build-backend-code-job

fix backend bug
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: none

change backend to test Sonar
  backend/5.txt
  frontend/asd.txt
Due: build-backend-code-job, build-frontend-code-job

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job

update backend to test cache
  backend/1.txt
Due: build-backend-code-job

update frontend to test cache
  backend/1.txt
  frontend/111.txt
Due: build-backend-code-job, build-frontend-code-job

update backend to test cache
  backend/3.txt
Due: build-backend-code-job

update backend to test cache
  backend/4.txt
Due: build-backend-code-job

update backend to test cache
  backend/3.txt
  backend/4.txt
  backend/7.txt
Due: build-backend-code-job

update backend to test cache
  backend/7.txt
  backend/8.txt
Due: build-backend-code-job

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
